body {
	/*margin: 0;
	padding: 0;*/
	/*height: 100%;*/
	padding-top: 53px;
	background-color: #fcfcfc;
	/*width: auto;*/
}

/****container default is 1170px*/

#m_header {
	padding-top: 8px;
	padding-left: 10px;
	height: 40px;*/
	/*width: 1000px;*/
	margin: 0 auto;
	background-color: #fff0cf;
}

#m_menu_top {
	/*height: 55px;*/ /*so min-height bootstrap is 50*/
	/*width: 1000px;*/
	margin: 0 auto; 
	background-color: #EDF1F4;
}
.navbar, .navbar-default {	
	margin:0;
	padding:0;
}
*/
#m_container {
	/*width: 1000px;*/
	/*margin: 0 auto;*/
	background-color: #fafafa;
}

#m_footer {
	/*height: 80px;*/
	/*width: 1000px;*/	
	margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    margin-top: 10px;
    padding-right: 10px;    
    max-width: 1170px;
	/*background-color: #fff0cf;*/
	border-top: 1px solid #CCC;
	/*border-bottom: 1px solid #CCC;*/
}

.ita_form {
	/*padding-left: 5px;
	padding-right: 5px;*/
	padding-top: 5px;
}
/****override bootstrap****/
.panel-heading {
	/*color: #576b7c !important;*/
	font-size: 16px;
}
/****end override bootstrap****/
/**********table header************/
thead {
	background-color: #f0f0f0;
}
.table_responsive {
	width: 100%;
}

/**********end table header*********/

/*********pagination***************/
.pagination {
	margin: 0px !important;
}
/*********end pagination**********/
/*********Frame***************/
.disableFrame {
	pointer-events: none; 
	opacity: 0.7;
}
/*********message*****************/

